<template>
  <HeaderRow :deleteAll="deleteAll" />
  <ProductsRow :onProductDelete="changeProductDeleteValue" />
  <FooterRow />
</template>

<script>
import HeaderRow from "@/components/HeaderRow.vue";
import FooterRow from "@/components/FooterRow.vue";
import ProductsRow from "@/components/ProductsRow.vue";
import {mapActions} from "vuex";

export default {
  name: "HomePage",
  components: {ProductsRow, FooterRow, HeaderRow},
  data() {
    return {
      deleteDates: []
    }
  },
  methods: {
    ...mapActions(['changeDvd', 'changeFurniture', 'changeBook', 'fetchDvds', 'fetchFurnitures', 'fetchBooks']),
    changeProductDeleteValue(item, event) {
      if(event.target.checked) {
        this.deleteDates = [...this.deleteDates, item];
        console.log(this.deleteDates)
      } else {
        let result = this.deleteDates.filter((single) => {
          return single.id !== item.id
        });
        this.deleteDates = result;
        console.log(this.deleteDates)
      }
    },


    last() {
      return "Hello world";
    },


    async deleteAll() {
      if (!this.deleteDates.length >= 0) {
        for (let i = 0; i < this.deleteDates.length; i++) {
          if (this.deleteDates[i]['@type'] === 'Book') {
            await this
                .changeBook(this.deleteDates[i].id)
          } else if (this.deleteDates[i]['@type'] === 'Dvd') {
            await this
                .changeDvd(this.deleteDates[i].id)
          } else if (this.deleteDates[i]['@type'] === 'Furniture') {
            await this
                .changeFurniture(this.deleteDates[i].id)
          }
        }
        this.$router.go();
      }


    },




  }
}
</script>

<style scoped>

</style>