<template>
  <HeaderProductsAddRow :save="save"/>
  <ProductsAddRow @onFormChange="changeFormValue" :productType="productAdd.productType"/>
  <FooterRow/>
</template>

<script>
import HeaderProductsAddRow from "@/components/HeaderProductsAddRow.vue";
import ProductsAddRow from "@/components/ProductsAddRow.vue";
import FooterRow from "@/components/FooterRow.vue";
import {mapActions, mapGetters} from "vuex";

export default {
  name: "ProducAddPage",
  components: {FooterRow, ProductsAddRow, HeaderProductsAddRow},
  data() {
    return {
      productAdd: {
        sku: '',
        name: '',
        price: '',
        productType: 'dvd',
        size: '',
        height: '',
        width: '',
        length: '',
        weight: ''
      },
    }
  },
  methods: {
    ...mapActions(['pushBook', 'pushDvd', 'pushFurniture', 'fetchDvds', 'fetchFurnitures', 'fetchBooks']),
    addBook() {
      this
          .pushBook({
            sku: this.productAdd.sku,
            name: this.productAdd.name,
            price: this.productAdd.price,
            weight: this.productAdd.weight
          })
          .then(() => {
            this.$router.push('/')
          })
    },
    addDvd() {
      this
          .pushDvd({
            sku: this.productAdd.sku,
            name: this.productAdd.name,
            price: this.productAdd.price,
            size: this.productAdd.size
          })
          .then(() => {
            this.$router.push('/')
          })
    },
    addFurniture() {
      this
          .pushFurniture({
            sku: this.productAdd.sku,
            name: this.productAdd.name,
            price: this.productAdd.price,
            height: this.productAdd.height,
            width: this.productAdd.width,
            length: this.productAdd.length
          })
          .then(() => {
            this.$router.push('/')
          })
    },

    changeFormValue(eventObject) {
      this.productAdd[eventObject.name] = eventObject.value
    },
    save() {
      let dvd = this.getDvdIds;
      let furniture = this.getFurnitureIds;
      let book = this.getBookIds;

      let result = [...dvd, ...furniture, ...book];
      if(!result.includes(this.productAdd.sku)) {
        if (this.productAdd.productType === 'book') {
          if (this.productAdd.sku && this.productAdd.name && this.productAdd.price && this.productAdd.weight) {
            this.addBook();
          }
        } else if (this.productAdd.productType === 'dvd') {
          if (this.productAdd.sku && this.productAdd.name && this.productAdd.price && this.productAdd.size) {
            this.addDvd()
          }
        } else if (this.productAdd.productType === 'furniture') {
          if (this.productAdd.sku && this.productAdd.name && this.productAdd.price && this.productAdd.height && this.productAdd.width && this.productAdd.length) {
            this.addFurniture();
          }
        }
      }
    }
  },
  computed: {
    ...mapGetters(['getBookIds', 'getDvdIds', 'getFurnitureIds'])
  },
  mounted() {
    this.fetchBooks();
    this.fetchDvds();
    this.fetchFurnitures();
  }
}
</script>

<style scoped>

</style>