<template>
  <div class="footer">
    <hr>
    <div class="footer-text">
      <p class="text-center">Scandiweb Test assignment</p>
    </div>

  </div>
</template>

<script>
export default {
  name: "FooterRow"
}
</script>

<style scoped>

</style>