<template>
  <div class="header">
    <div class="row">
      <div class="col">
        <div class="header-title text-center">
          <h3>Product Add</h3>
        </div>
      </div>
      <div class="col">
        <div class="header-classes text-center">
          <button class="btn btn-primary mx-4" @click="save">Save</button>
          <router-link to="/" class="btn btn-primary mx-4">Cancel</router-link>
        </div>
      </div>
      <hr class="mt-2">
    </div>
  </div>
</template>

<script>
export default {
  name: "HeaderProductsAddRow",
  props: ['save']
}
</script>

<style scoped>

</style>