<template>
  <div class="header">
    <div class="row">
      <div class="col">
        <div class="header-title text-center">
          <h3>Product List</h3>
        </div>
      </div>
      <div class="col">
        <div class="header-classes text-center">
          <router-link to="/product-add" class="btn btn-primary mx-4">ADD</router-link>
          <button class="btn btn-primary mx-4" @click="() => this.deleteAll()">MASS DELETE</button>
        </div>
      </div>
      <hr class="mt-2">
    </div>
  </div>
</template>

<script>
export default {
  name: "HeaderRow",
  props: ['deleteAll']
}
</script>

<style scoped>

</style>