<template>
  <div class="main-cards mt-4">
    <div id="product_form">
      <div class="mb-3">
        <div class="row">
          <div class="col-lg-1">
            <label for="sku" class="form-label">SKU</label>
          </div>
          <div class="col-lg-4">
            <input type="text" class="form-control" id="sku" @input="$emit('onFormChange', {name: 'sku', value: $event.target.value})">
          </div>
        </div>
      </div>
      <div class="mb-3">
        <div class="row">
          <div class="col-lg-1">
            <label for="name" class="form-label">Name</label>
          </div>
          <div class="col-lg-4">
            <input type="text" class="form-control" id="name" @input="$emit('onFormChange', {name: 'name', value: $event.target.value})">
          </div>
        </div>
      </div>
      <div class="mb-3">
        <div class="row">
          <div class="col-lg-1">
            <label for="price" class="form-label">Price</label>
          </div>
          <div class="col-lg-4">
            <input type="text" class="form-control" id="price" @input="$emit('onFormChange', {name: 'price', value: $event.target.value})">
          </div>
        </div>
      </div>
      <div class="mb-3">
        <div class="row">
          <div class="col-lg-1">
            <label for="switcher" class="form-label">Switcher</label>
          </div>
          <div class="col-lg-4">
            <select class="form-select" aria-label="Default select example" @input="$emit('onFormChange', {name: 'productType', value: $event.target.value})">
              <option selected value="dvd">DVD</option>
              <option value="furniture">Furniture</option>
              <option value="book">Book</option>
            </select>
          </div>
        </div>
      </div>
      <div class="selectedInputs">
        <div class="dvd" v-if="productType === 'dvd'">
          <div class="mb-3">
            <div class="row">
              <div class="col-lg-1">
                <label for="size" class="form-label">Size (MB)</label>
              </div>
              <div class="col-lg-4">
                <input type="text" class="form-control" id="size" @input="$emit('onFormChange', {name: 'size', value: $event.target.value})">
                <div id="emailHelp" class="form-text">Please provide size</div>
              </div>
            </div>
          </div>
        </div>
        <div class="furniture" v-else-if="productType === 'furniture'">
          <div class="mb-3">
            <div class="row">
              <div class="col-lg-1">
                <label for="height" class="form-label">Height (CM)</label>
              </div>
              <div class="col-lg-4">
                <input type="text" class="form-control" id="height" @input="$emit('onFormChange', {name: 'height', value: $event.target.value})">
                <div id="emailHelp" class="form-text">Please provide height</div>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <div class="row">
              <div class="col-lg-1">
                <label for="width" class="form-label">Width (CM)</label>
              </div>
              <div class="col-lg-4">
                <input type="text" class="form-control" id="width" @input="$emit('onFormChange', {name: 'width', value: $event.target.value})">
                <div id="emailHelp" class="form-text">Please provide width</div>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <div class="row">
              <div class="col-lg-1">
                <label for="length" class="form-label">Length (CM)</label>
              </div>
              <div class="col-lg-4">
                <input type="text" class="form-control" id="length" @input="$emit('onFormChange', {name: 'length', value: $event.target.value})">
                <div id="emailHelp" class="form-text">Please provide length</div>
              </div>
            </div>
          </div>
        </div>
        <div class="book" v-else-if="productType === 'book'">
          <div class="mb-3">
            <div class="row">
              <div class="col-lg-1">
                <label for="wight" class="form-label">Weight (KG)</label>
              </div>
              <div class="col-lg-4">
                <input type="text" class="form-control" id="weight" @input="$emit('onFormChange', {name: 'weight', value: $event.target.value})">
                <div id="emailHelp" class="form-text">Please provide weight</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>


export default {
  name: "ProductsAddRow",
  emits:['onFormChange'],
  props: ['productType']

}
</script>

<style scoped>
.main-cards {
  min-height: 700px;
}

.selectedInputs {
  margin-top: 80px;
}

</style>