<template>
  <div class="main-cards mt-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">

      <div class="col-lg-3" v-for="item in getBooks" v-bind:key="item.id">
        <div class="card h-100">
          <div class="card-body">
            <div class="selector d-block w-100 text-start">
              <input class="form-check-input border border-danger delete-checkbox" type="checkbox" id="invalidCheck" @change="(event) => this.onProductDelete(item, event)" required>
            </div>
            <p class="card-text id">{{item.sku}}</p>
            <p class="card-text name">{{item.name}}</p>
            <p class="card-text price">{{item.price}} $</p>
            <p class="card-text dimention">Weight: {{item.weight}}</p>
          </div>
        </div>
      </div>




      <div class="col-lg-3" v-for="item in getDvds" v-bind:key="item.id">
        <div class="card h-100">
          <div class="card-body">
            <div class="selector d-block w-100 text-start">
              <input class="form-check-input border border-danger delete-checkbox" type="checkbox" value="" id="invalidCheck" @change="(event) => this.onProductDelete(item, event)" required>
            </div>
            <p class="card-text id">{{item.sku}}</p>
            <p class="card-text name">{{item.name}}</p>
            <p class="card-text price">{{item.price}} $</p>
            <p class="card-text dimention">Size: {{item.size}}</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3" v-for="item in getFurnitures" v-bind:key="item.id">
        <div class="card h-100">
          <div class="card-body">
            <div class="selector d-block w-100 text-start">
              <input class="form-check-input border border-danger delete-checkbox" type="checkbox" value="" id="invalidCheck" @change="(event) => this.onProductDelete(item, event)" required>
            </div>

            <p class="card-text id">{{item.sku}}</p>
            <p class="card-text name">{{item.name}}</p>
            <p class="card-text price">{{item.price}} $</p>
            <p class="card-text dimention">Dimention: {{item.height}}*{{item.width}}*{{item.lenght}}</p>
          </div>
        </div>
      </div>
    </div>




  </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";


export default {
  name: "ProductsRow",
  props: ['onProductDelete'],
  data() {
    return {
      dataMain: this.getBooks,
      deleteDates: [],
      test: ''
    }
  },
  methods: {
    ...mapActions(['fetchDvds', 'fetchBooks', 'fetchFurnitures', 'changeFurniture']),
    // deleteMe(item, event) {
    //   if(event.target.checked) {
    //     this.deleteDates = [...this.deleteDates, item];
    //   } else {
    //     let result = this.deleteDates.filter((single) => {
    //       return single.id !== item.id
    //     });
    //     this.deleteDates = result;
    //   }
    // }




  },
  mounted() {
    this.fetchDvds()
    this.fetchBooks()
    this.fetchFurnitures()



  },
  computed: {
    ...mapGetters(['getDvds', 'getBooks', 'getFurnitures']),


  },
}
</script>

<style scoped>
.card {
  transition: box-shadow .3s;
  text-align: center;
}
.card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.main-cards {
  min-height: 700px;
}

</style>